{% set uuid = random() %}

<div class="form-group {{ field.code }}">
	{% if field.label %}
    	<label>{{ field.label }}</label>
    {% endif %}
    
    {% for option in field.options %}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{ field.name }}" id="form-{{ uuid }}-{{ loop.index }}" value="{{ option.value }}">
            <label class="form-check-label" for="form-{{ uuid }}-{{ loop.index }}">
                {{ option.name }}
            </label>
        </div>
    {% endfor %}
    
</div>